{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<footer class="footer" style="position: fixed; bottom: 0; left: 0; width: 100%; border-radius: 4px; padding-top: 20px;">
      <div class="container">         <p class="text-muted text-center">
{% if LANGUAGE_CODE == "de" %}
        <a href="/legal_de">Impressum &middot; Datenschutzerklärung</a>
{% else %}
        <a href="/legal_en">Imprint &middot; Privacy policy</a>
{% endif %}
     </p>       </div>
</footer>